body {
    font-size: 16px;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: pink;
    color: #333333;
  }

  header{    
    text-align: center;
    font-size: 1.2rem;
  }

  #container {
    width: 500px;
    margin: 15px auto;
  }
  ul > li {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
  } 

  /* .btn-kai{
    background-color: #eb6100;    
    width: 100px;
    line-height: 50px;
   
    font-size: 1rem;
    border-radius: 5px/*角を少し丸くする;
    text-align: center;
  } */
  .btn-kai a{
    color: #fff;
    text-decoration: none;
    display: block;
  }

  #container h1 {
    /* background-image: url("haikei.png"); */
    background-color: #eeeeee;
    padding: 50px 0;
    font-size: 18px;
    margin: 10px 0 20px 0;    
    text-align: center;
  }
  ul {
    list-style: none;
    margin: 20px 0px;
    padding: 0;
  }
  ul > li {
    border: 2px solid #ddd;
    margin-bottom: 7px;
    padding: 7px 10px;
    cursor: pointer;
    text-align: center;
  }

  .kaisetsu{
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    background-color: #DDFFFF;
    height: 150px;
    margin: 30px 0;
  }
  .kaisetsu h2{
    font-size: 18px;
  }

  #btn {
    text-align: center;
    float: right;
    width: 100px;
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    background: #00aaff;
    box-shadow: 0 4px 0 #0088cc;
    cursor: pointer;
    font-size: 14px;
  }
  #btn.disabled {
    opacity: 0.5;
  }
  .correct {
    color: limegreen;
    font-weight: bold;
  }
  .wrong {
    color: #ddd;
  }
  .selected {
    font-weight: bold;
  }

  #result {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
    padding: 30px 0 50px;
  }
  #result > div {
    font-size: 64px;
    font-weight: bold;
    margin-top: 30px;
  }