

/*generic style-------------*/
body{
    max-width: 1600px;
    margin: 0 auto;/*auto にすると左右中央に配置できる*/
    font-family: Arial, 'MS Pゴシック', sans-serif;
}

.container{
    font-weight: bold;
    margin: 0 auto;/*中央に？*/
    width: 960px;
}

.nav{
    display: flex;
    font-size: 0.8rem;
    list-style: none;
    margin-top: 28px;
}

header .nav li{
    margin-left: 36px;
    font-size: 0.75rem;
}

header li a{
    text-decoration: none;/*下線なくす*/
    color: black;
}

header .page-header{
    display: flex;
    justify-content: space-between;
}

.page-header h2{
    font-size: 1.25rem;
    margin-top: 20px;
}

.midashi{
    background-image: url(/mosha1/img/main-vsual-nontitle.png);
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 80px;/*これか！！*/
}
/*-----main-------*/
.main h2{
    text-align: center;
    font-size: 1.25rem;
    padding: 32px;/*paddingとmargin の違いをしろう*/
}

.main section{
    display: flex;/*写真と文を横並びに*/
    justify-content: space-between;
}

.main .pic{
    width: 50%;
    margin-right: 3%;
}
  
.main .pic img {
    width: 100%;
    height:auto;
}

/* .main .info{
    width: calc(50%-32px);
} */

/* .main .container{
    width: 800px;
    margin: 0 auto;
} */


/*-----------------------*/
.course h2{
    text-align: center;
    font-size: 1.25rem;
    padding: 32px;/*paddingとmargin の違いをしろう*/
}

.course ul{
    list-style: none;
    margin: 0 auto;/*左右autoでいい感じに*/
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.course img{
    width: 300px;/*うわめっちゃいい感じ*/
}

.course p{
    font-weight: normal;
    margin-top: 0;
}

/*以下問い合わせフォーム*/
form div{
    margin: 0 auto 32px;
}

.call h2{
    text-align: center;
    font-size: 1.25rem;
    padding: 32px;
    margin: 0;
}

label{/*さあ今日から～の部分*/
    text-align: center;
    font-weight: normal;
    font-size: 0.75rem;
    margin: 0 auto 14px;
    display: block;/*要素を縦に並ぶ*/
}

input[type="email"]{
    width: 100%;
    max-width: 300px;
    border: 1px #dddddd solid;
    border-radius: 30px;
    padding: 10px;
    font-size: 1rem;
    margin: 0 auto;
    display: block;/*この一文で中央に来る！！！！！！！！！！！！！！！*/
}

.call .btn{
    margin: 0 auto 32px;
}

.btn{
    text-decoration: none;/*下線なくす*/
    background: salmon;
    color: white;
    display: block;/*?*/
    width: 350px;
    line-height: 64px;
    font-size: 1.25rem;
    border-radius: 4px/*角を少し丸くする*/;
    text-align: center;
}

footer{
    padding: 32px 0;
    color: black;
    text-align: right;
    border-top: 1px #dddddd solid ;  /*上に線*/
    
}

footer p{
    font-weight: normal;
}

@media(max-width:700px){
    .container{
        font-weight: bold;
        margin: 0 auto;/*中央に？*/
        width: 700px;
    }

    header .page-header{
        display: list-item;
    }

    .page-header h2{
        text-align: center;
    }
  
    .nav{
        text-align: center;
        padding: 0;
    }
    
    .course ul{
        display: list-item;  /*縦並びに変更*/  
        margin: 0 auto;
        text-align: center;/*若干右に寄ってるのは何・・？*/
    }


}